{% extends 'base.html' %}


{% block content %}
<main>
    {{ mealplan_list }}
    {% for meal_plan in mealplan_list %}
    <h2> {{ meal_plan.name }} </h2>
    {% endfor %}
</main>
{% endblock content %}