{% extends 'base.html' %}

{% block content %}
    <h2> Login </h2>
    <form method="post">
        {%csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log in</button>
    </form>
{% endblock content %}